.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 30px;

    .info {
        display: flex;
        flex-direction: column;
    }
}
