.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    a {
        text-decoration: none;
        width: 200px;
        height: 50px;
        color: var(--p-primary-900);
    }
}
