.home {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        padding: 30px;

        .checkboxes {
            margin-left: 60px;

            .checkbox {
                cursor: pointer;
                padding: 10px 20px;
                display: flex;
                align-items: center;
                .info {
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;

                    .value {
                        color: var(--p-primary-500);
                    }
                }
            }
        }
    }
}
